.footer {
    &__columns {
        margin: 0 -2rem;      
        @include mq(lg) {
            display: grid;
            grid-template-columns: repeat(auto-fit, 16.66%);
            padding-left: 1.2rem;
            margin: 0;

            &.no-submenus {
                grid-template-columns: repeat(auto-fit, 20%);

                text-align: center;
                
                & li {
                    &:first-child {
                        text-align: start;
                    }
                }
            }
        }
        
    }

    &__column {
        &-name {
            & .list-group {
                color: #fff;
                text-decoration: none;
                font-size: 1.8rem;
                line-height: 3.15rem;
                font-weight: 700;
                padding: 1.6rem;
                display: block;
                @include mq(lg) {
                    font-weight: 300;
                    padding: 0;
                }
            }
        }

        &-arrow {
            display: none;
        }

        &-links {
            & a {
                display: block;
                font-size: 1.6rem;
                color: #8386b2;
                line-height: 2.8rem;
            }
        }

        &.has-child {
            @include mq-max(lg) {
                border-bottom: 1px solid rgba(255,255,255,.2);
                & .footer {
                    &__column {
                        &-name {
                            position: relative;
                        }

                        &-arrow {
                            all: unset;
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transition: transform 300ms ease-in-out;
                            transform-origin: center;
                            cursor: pointer;
                            height: 100%;
                            padding: 0 2rem 0 4rem;
                            & svg {
                                height: 2rem;
                                width: 2rem;
                                vertical-align: middle;
                                & path {
                                    fill: #fff;
                                }
                            }

                            &.animate {
                                transform-origin: center;
                                transform: rotateX(180deg);
                                transition: transform 300ms ease-in-out;
                            }
                        }

                        &-links {
                            height: 100%;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height .3s ease-out;
                            & li {
                                padding: .4rem 1.6rem;

                                &:first-child {
                                    margin-top: .8rem;
                                }
                                &:last-child {
                                    padding-bottom: 1.6rem;
                                }
                            }

                            &.expanded {
                                transition: max-height .6s ease-out;
                                max-height: 40rem;
                            }
                        }
                    }
                }
            }
        }
    }
}