.footer {
    &__socials {
        display: flex;
        gap: .8rem;
        padding: 2.4rem 0;
        @include mq(lg) {
            width: 25%;
            justify-content: flex-end;
            padding: 0;
        }
        &-item {
           
            & svg {
                height: 2.5rem;
                width: 2.5rem;
                & path {
                    fill: $blue_clean_medium;
                }
            }

            &:hover {
                & svg {
                    & path {
                        fill: $violet;
                        transition: all 100ms ease-out;
                    }
                }
            }
        }
    }
}