button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


.button {
	color: #fff;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 175%;
	display: inline-block;
	transition: transform 50ms ease-out;


	&:hover {
		transition: transform 50ms ease-out;
		transform: translateY(-.2rem);
	}

	@include mq(md) {
		font-size: 2.4rem;
	}

	& svg {
		vertical-align: middle;
	}

	&--arrowDown {
		all: unset;
		display: flex;
		justify-content: center;
		cursor: pointer;

		&:hover {
			transition: unset;
			transform: unset;
		}

		&:hover {
			& svg {
				transition: transform 50ms ease-out;
				transform: translateY(-.2rem);
			}
		}
	}
	&--hamburger {
		all: unset;
		cursor: pointer;

		@include mq(lg) {
			display: none;
		}
		
		&:hover {
			transform: translateY(0);
		}
	}
}
