.job-openings__list {
    &-item {
        display: flex;
        justify-content: space-between;
        padding: 1.6rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        margin-bottom: 2rem;
        flex-flow: column;
       

        &:last-child {
            margin-bottom: 0;
        }
        @include mq(md) {
            flex-flow: row;
        }
        @include mq(md) {
            padding: 2.4rem;
        }

        &--placeholder {
            & h3, a {
                animation: blink 1.25s ease-in-out infinite;
             
                @keyframes blink {
                    0% {
                        opacity: 0%;
                    }

                    50% {
                        opacity: 100%;
                    }

                    100% { 
                        opacity: 0;
                    }
                }
            }
        }
    }

    &-title {
        margin-bottom: 1.6rem;
        font-size: 2rem;
        font-weight: 500;

        @include mq(md) {
            margin-bottom: 0;
        }
    }

    &-link {
        text-decoration: none;
        color: $blue_clean_medium;
        font-weight: 700;
        letter-spacing: -0.03em;
    }
}