#page {
    padding-top: 11.47rem;
    background: #fff;

    @include mq(lg) {
        padding-top: 10.585rem;
    }

    @include mq(xl) {
        padding-top: 11.15rem;
    }

    &.small-padding {
            padding-top: 3.4rem;

            @include mq(lg) {
                padding-top: 3.4rem;
            }
    }
}