.banner {
    display: flex;
    height: 60.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    background-position-x: -45rem;
    @include mq(md) {
        height: 60rem;
        background-position-x: initial;
    }
    & .container {
        position: relative;
    }
    &__header {
        color: #FFFFFF;
        & h2 {
            letter-spacing: -0.03em;
            position: relative;
            z-index: 10;
            color: #FFFFFF;

            & br {
                display: none;
            }
            @include mq(lg) {
                font-size: 7rem;

                & br {
                    display: initial;
                }
            }
        }
    }

    & .bubble,
    & .bubbles {
        position: absolute;
    }

    & .bubble {
        left: -1.89rem;
        bottom: 7.15rem;
        width: 9.25rem;
        height: 9.25rem;

        @include mq(600) {
            left: 0;
            width: auto;
            height: auto;
        }

        @include mq(md) {
            bottom: 9.25rem;
        }
    }

    & .bubbles {
        z-index: 5;
        top: -7.71rem;
        right: -8.3rem;
        width: 36.984rem;
        height: 27.4rem;
        @include mq(md) {
            top: -15.032rem;
            right: -2.4rem;
            width: auto;
            height: auto;
        }
    }
}

.banner--alt {
    height: 46.6rem;
    background-position: center;
    background-position-x: -20rem;
    @include mq(md) {
        height: 56.6rem;
        background-position-x: unset;
    }

    & .bubble {
        height: 7.3rem;
        width: 7.3rem;
        left: -1.6rem;
        top: 7.089rem;
        @include mq(md) {
            left: 0;
            top: 18.6rem;
            height: auto;
            width: auto;
        }
    }

    & .bubbles {
        height: 17.812rem;
        width: 24.042rem;
        top: unset;
        bottom: 1.5rem;
        @include mq(md) {
            top: 5.4rem;
            right: -17.1rem;
            height: auto;
            width: auto;
        }
    }
}