.values {
    position: relative;
    padding: 8rem 0;
    overflow: hidden;
    @include mq(lg) {
        padding: 8rem 0 4rem 0;
    }
    & .container {
        position: relative;
        display: flex;
        flex-flow: column;
        @include mq(600) {
            align-items: center;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr; 
        flex-wrap: wrap;
        margin: 0 auto;
        @include mq(600) {
            grid-template-columns: 1fr 1fr;
            justify-content: flex-start;
        }
        @include mq(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &-item {
            position: relative;
            margin: 0 auto 4rem;
            max-width: 29.6rem;
            @include mq(600) {
                margin: 0 3.3rem 4rem 0;
            }
            @include mq(lg) {
                margin-bottom: 8rem;
            }

            & img {
                height: 8rem;
                width: 8rem;
                @include mq(lg){
                    height: 10rem;
                    width: 10rem;
                }
            }
        }
        &-title {
            margin: .8rem 0;
            @include mq(lg) {
                margin: 1.6rem 0;
            }
        }
        &-desc {
            line-height: 160%;
            color: $text_grey;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-img__wrapper{
            position: relative;
        }
    }
    &__img {
        position: relative;
        width: 100%;
        max-width: 29.6rem;
        margin: auto;
        @include mq(sm) {
            display: none;
        }
        @include mq(xl) {
            display: block;
            position: absolute;
            max-width: 52.957rem;
            right: 0;
            left: unset;
            transform: unset;
        }
        &--sm {
            display: block;
            @include mq(xl) {
                top: unset;
                left: 0;
                min-width: 100%;
                width: 35vw;
            }
            @include mq(xxl) {
                width: 52.957rem;
            }
        }
    }
}