.btnFadeOut {
    animation: btnFadeOut .33s ease-out forwards;
    transform-origin: center;
    @keyframes btnFadeOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
}