.btnFadeOut {
    animation: btnFadeOut .33s ease-out forwards;
    transform-origin: center;
    @keyframes btnFadeOut {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
}

.show-menu {
    animation: showMenu .25s ease-in-out forwards;

    @keyframes showMenu {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(0);
        }
    }
}

